<ion-header>
  <div class="header-wrap">
    <app-top-bar title="CONFIRMAR E-MAIL" [showBack]="true" (back)="goBack()"></app-top-bar>
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="screen-content">
  <div class="body">
    <div class="intro">
      <div class="icon-circle">
        <ion-icon name="mail-outline"></ion-icon>
      </div>
      <div class="text">
        Enviamos um código de 6 dígitos para<br />
        <b>{{ email }}</b>
      </div>
    </div>

    <div class="digits">
      <input
        *ngFor="let d of digits; let i = index; trackBy: trackByIndex"
        #digitInput
        [value]="d"
        (input)="onDigitInput(i, $event)"
        (keydown)="onDigitKeydown(i, $event)"
        (paste)="onDigitsPaste($event)"
        type="text"
        inputmode="numeric"
        autocomplete="one-time-code"
        pattern="[0-9]*"
        maxlength="1"
        [class.filled]="d"
      />
    </div>

    <app-button icon="checkmark-outline" [loading]="loading" (pressed)="confirm()">CONFIRMAR</app-button>

    <div class="resend">
      <ng-container *ngIf="secondsUntilResend > 0; else canResend">
        Reenviar código em <b>{{ timeUntilResend }}</b>
      </ng-container>
      <ng-template #canResend>
        <ng-container *ngIf="resending; else resendLink">
          <span class="resend-sending">
            <ion-spinner name="crescent"></ion-spinner>
            Enviando novo código...
          </span>
        </ng-container>
        <ng-template #resendLink>
          <span class="tap link" (click)="resend()">Reenviar código</span>
        </ng-template>
      </ng-template>
    </div>
  </div>
</ion-content>
