<div class="field" [class.has-error]="error">
  <ion-icon
    *ngIf="icon"
    [name]="icon"
    [class.leading-icon-clickable]="iconClickable"
    [class.tap]="iconClickable"
    (click)="iconClickable && iconClick.emit($event)"
  ></ion-icon>
  <input
    [type]="inputType"
    [placeholder]="placeholder"
    [attr.maxlength]="maxlength ?? null"
    [ngModel]="value"
    (ngModelChange)="valueChange.emit($event)"
    (blur)="blurred.emit()"
  />
  <ion-icon
    *ngIf="type === 'password'"
    class="toggle-icon tap"
    [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
    (click)="togglePasswordVisibility()"
  ></ion-icon>
</div>
<div class="field-error" *ngIf="error">{{ error }}</div>
