<ion-content [fullscreen]="true" class="screen-content">
  <div class="session-check" *ngIf="checkingSession">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div class="body pad-lg" *ngIf="!checkingSession">
    <div class="brand">
      <div class="logo">
        <span class="bebas">PRO</span>
      </div>
      <div class="bebas title">PRORROGAÇÃO</div>
      <div class="subtitle">Gestão do seu time de várzea</div>
    </div>

    <app-field icon="mail-outline" placeholder="E-mail" type="email" [(value)]="email"></app-field>
    <app-field icon="lock-closed-outline" placeholder="Senha" type="password" [(value)]="password"></app-field>

    <div class="forgot">
      <span class="tap" (click)="goToForgotPassword()">Esqueci minha senha</span>
    </div>

    <app-button icon="checkmark-outline" [loading]="loading" (pressed)="login()">ENTRAR</app-button>

    <div class="switch">
      Não tem conta?
      <span class="tap link" (click)="goToRegister()">Criar conta</span>
    </div>
  </div>
</ion-content>
