<div class="team-column">
  <div class="header" [style.background]="team.color + '12'">
    <span class="bebas team-name" [style.color]="team.color">{{ team.name }}</span>
    <span class="total">Soma de notas <b class="bebas">{{ team.total }}</b></span>
  </div>
  <div class="rows">
    <div class="row" *ngFor="let p of team.players">
      <span class="pos">{{ p.pos }}</span>
      <span class="name">{{ p.name }}</span>
      <span class="rating">
        <ion-icon name="star" [style.color]="team.color"></ion-icon>
        <b class="bebas">{{ p.rating }}</b>
      </span>
    </div>
  </div>
</div>
